# Python Operators

In [9]:
# Arithmatics Operator  (+,-,*,**,/,%,//)
# Assingment Operator  ()
# Comparison Operator/ Relational Operator
# Logical Operator  (AND, OR, NOT)
# Identity Operator  (IS , IS NOT)
# Membership Operator (IN, NOT IN)
# Bitwise Operator (&, !, ^, ~, <<,>>)

In [10]:
# % Module

In [11]:
10%3 # It will givw the reminder only

1

In [13]:
# // Floor Division

In [16]:
11.33//2  # It will give only Integer

5.0

In [5]:
x="My name is Mohammad Farid"

In [17]:
"name" in x

True

# Conditional Statement

In [18]:
# IF ELSE

In [19]:
# Check the given number is Even or Odd

In [33]:
n=int(input())
if n%2==0:
    print("Even")
else:
    print("Odd")

3
Odd

In [34]:
# Check the two given numbers are greater than 10 or whih number is greater than 10 and which is less than 10

In [37]:
a=int(input())
b=int(input())

if a>10 and b>10:
    print("a and b both are greater than 10")
elif a>10 and b<10:
    print("a is greater than 10")
elif a<10 and b>10:
    print("b is greater than 10")
else:
    print("Both are less than 10")

12
2
a is greater than 10

In [38]:
# There are three numbers, find which is the large number

In [40]:
# Nested IF

In [41]:
#Check the Number Odd, Even or Zero

In [48]:
n=int(input())
if n%2==0:
    print("Even")
    if n==0:
        print("Zero")
else:
    print("Odd")

0
Even
Zero

# While Loop

In [49]:
# Sum of n Numbers

In [52]:
n=10
sum=0
while n>0:
    sum=sum+n
    n=n-1
print(sum)

55

In [53]:
# Multiple of n numbers

In [56]:
n=3
sum=1
while n>0:
    sum=sum*n
    n=n-1
print(sum)

6

In [57]:
# Sum of Even Numbers

In [ ]:
n=3
sum=0
while n>0:
    if n%2==0:
        sum=sum+n
        n=n-1
print(sum)

# Loops

In [ ]:
# Range and Method
# Loop is to do something repeatidly

In [2]:
x="abcd"
for i in x:
    print(i)

a
b
c
d

In [3]:
x[1]

'b'

In [5]:
x[3]

'd'

In [7]:
x[1:3]

'bc'

In [15]:
n=int(input())
for i in range(1,n+1):
    print(i)

4
1
2
3
4

In [16]:
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

4
1 2 3 4

In [17]:
len(range(1,n+1))

4

In [27]:
len(range(1,n+1))

4

In [34]:
# Print 3 table

In [38]:
n=int(input("Entered Value"))
for i in range(1,n):
    if i%3==0:
        print(i)

Entered Value33
3
6
9
12
15
18
21
24
27
30

In [39]:
# Print 3 table and the starting and end value

In [40]:
a=int(input("Enter first Value"))
b=int(input("Enter Second Value"))

for i in range(a,b):
    if i%3==0:
        print(i)

Enter first Value1
Enter Second Value44
3
6
9
12
15
18
21
24
27
30
33
36
39
42

In [41]:
# Print the prime number only

In [47]:
n=int(input())

for i in range(2,n,1):
    if n%i==0:
        break
else:
    print("Prime Number")

12

In [48]:
# The Break statement

In [56]:
n=int(input())

for i in range(1,n):
    if i==5:
        break # It will break at 5 and will not print till 4
    print(i)
else:
    print("End")

5
1
2
3
4
End

In [57]:
# The continue Statement

In [1]:
n=int(input())

for i in range(1,n):
    if i==5:
        continue # It will not print 5 and conitue
    print(i)
else:
    print("End")

10
1
2
3
4
6
7
8
9
End

In [2]:
# Standar form of Continue

In [5]:
x=["apple","Banana","Cherry"]
for i in x:
    if i=="Banana":
        continue
    print(i)

apple
Cherry

In [6]:
# The Pass Statement

In [7]:
def my_func():

SyntaxError: incomplete input (3712687365.py, line 1)

In [8]:
def my_func():
    pass

In [10]:
# immutebale
# cant change, utler and modify

In [12]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
x="My nAme iS faRid"

In [21]:
x

'My nAme iS faRid'

In [22]:
x.lower()

'my name is farid'

In [23]:
x.upper()

'MY NAME IS FARID'

In [24]:
x.capitalize()

'My name is farid'

In [25]:
x="Farid123"

In [26]:
x.isalnum()

True

In [27]:
x.isalpha()

False

In [28]:
x="Farid_Ansari"

In [30]:
x.isalpha()

False

In [31]:
x="FaridAnsari"

In [32]:
x.isalpha()

True

# LIST

In [33]:
# Print the list value with its index value

In [39]:
li=[1,2,3,4,5,6,7,8,9]
for i in range(len(li)):
    print(i,"index",",","Value",li[i])

0 index , Value 1
1 index , Value 2
2 index , Value 3
3 index , Value 4
4 index , Value 5
5 index , Value 6
6 index , Value 7
7 index , Value 8
8 index , Value 9

In [46]:
# Print string alphabet along with its index value

In [52]:
x="Mohammad Farid"
for i in range(len(x)):
    print(i,x[i])

0 M
1 o
2 h
3 a
4 m
5 m
6 a
7 d
8
9 F
10 a
11 r
12 i
13 d

In [54]:
# Reverse it along with the index
x="Mohammad Farid"
for i in range(len(x)-1,-1,-1):
    print(i,x[i])

13 d
12 i
11 r
10 a
9 F
8
7 d
6 a
5 m
4 m
3 a
2 h
1 o
0 M

In [56]:
# Create the list from the list that contains only the integer

In [58]:
li=["fad","Riya",123,33,12,"Ansari","Bareilly",12,19]
Li=[]
for i in li:
    if type(i)==int:
        Li.append(i)

In [59]:
Li

[123, 33, 12, 12, 19]

In [61]:
"""zip() is a built-in Python function that takes two or more iterables (lists, tuples, etc.) and returns an iterator of tuples where the first item in each passed iterable is paired together, and then the second item in each iterable is paired together, and so on.

Here's an example code to demonstrate how zip() works in Python:"""

"zip() is a built-in Python function that takes two or more iterables (lists, tuples, etc.) and returns an iterator of tuples where the first item in each passed iterable is paired together, and then the second item in each iterable is paired together, and so on.\n\nHere's an example code to demonstrate how zip() works in Python:"

In [60]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

# Using zip() function to pair the lists together
result = zip(list1, list2, list3)

# Iterating through the result
for item in result:
    print(item)

(1, 'a', 'x')
(2, 'b', 'y')
(3, 'c', 'z')

In [70]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

# Using zip() function to pair the lists together
result = zip(list1, list2, list3)

Li=[]
print(result)
for i in result:
    for j in i:
        Li.append(j)

<zip object at 0x00000207A94BA880>

In [71]:
Li

[1, 'a', 'x', 2, 'b', 'y', 3, 'c', 'z']

# Dictionary

In [72]:
d={"key1":"Fad","Contact":"fad8392","Mobile":123}

In [73]:
d.items() # It will print the key value pair

dict_items([('key1', 'Fad'), ('Contact', 'fad8392'), ('Mobile', 123)])

In [74]:
for i in d.items():
    print(i)

('key1', 'Fad')
('Contact', 'fad8392')
('Mobile', 123)

In [75]:
type(i)

tuple

In [76]:
type(d.items())

dict_items

In [77]:
type(d)

dict

In [78]:
# To check how many times the Alphabet occured

In [113]:
x="aabcbbbccccccddddeeeeeffffffff"
set(x) # Convert into set

{'a', 'b', 'c', 'd', 'e', 'f'}

In [114]:
x.count('a')

2

In [115]:
for i in set(x):
    print(i,":",x.count(i))

b : 4
d : 4
a : 2
e : 5
f : 8
c : 7

In [ ]:
61,67,79,56,75,76

# Basic Python

In [1]:
True

True

In [2]:
True+True

2

In [3]:
False

False

In [4]:
False+False

0

In [8]:
#Complex Number

a=2+3j
b=2+3j
a+b

(4+6j)

In [10]:
# To print separately the Real and imaginary Part

In [11]:
a.real

2.0

In [13]:
a.imag

3.0

In [18]:
x="Mohammad Farid"
x.count('a') # Count how many times the 'a' appeared

3

In [21]:
x.replace('a','e') # Replace the 'a' by 'e'

'Mohemmed Ferid'

In [20]:
x.isalpha() # False beacase there is a space

False

In [22]:
x.isalnum()

False

# Python String

In [24]:
x="Mohammad Farid"

In [25]:
type(x)

str

In [26]:
x[1]

'o'

In [27]:
x[3]

'a'

In [28]:
x[1:3]

'oh'

In [29]:
x[1:6]

'ohamm'

In [31]:
x[-7:-1]

'd Fari'

In [35]:
x[-10:-1]

'mmad Fari'

In [39]:
x[0:len(x)]

'Mohammad Farid'

In [44]:
x[:-3]

'Mohammad Fa'

In [45]:
x[: : -1]

'diraF dammahoM'

In [49]:
x

'Mohammad Farid'

In [51]:
x.split()

['Mohammad', 'Farid']

In [53]:
x.split(',') #There is no comma in he string

['Mohammad Farid']

In [55]:
x.split('a') # Split the string based on 'a' and return in a list

['Moh', 'mm', 'd F', 'rid']

In [57]:
x="mOhammad fArid"

In [62]:
x.title() # Make a very first letter in Upper Case

'Mohammad Farid'

In [63]:
# Return the capitalize version of the string

In [64]:
x

'mOhammad fArid'

In [66]:
x.capitalize()

'Mohammad farid'

# LIST

In [67]:
mylist = ["apple", "banana", "cherry"]

In [68]:
mylist

['apple', 'banana', 'cherry']

In [69]:
# Lists are used to store multiple items in a single variable.

In [70]:
# List items are ordered, changeable, and allow duplicate values.

In [71]:
# List items are indexed, the first item has index [0], the second item has index [1] etc.

In [72]:
#To determine how many items a list has, use the len() function

In [73]:
Li = ["apple", "banana", "cherry"]
len(Li)

3

In [74]:
type(Li)

list

In [75]:
#Insert "watermelon" as the third item:

In [76]:
Li = ["apple", "banana", "cherry"]
Li.insert(2, "watermelon")    # List.insert(index,item)
print(Li)

['apple', 'banana', 'watermelon', 'cherry']

In [81]:
#Using the append() method to append an item

In [83]:
Li = ["apple", "banana", "cherry"]
Li.append("orange")  # It will add the item at the end of the list
print(Li)

['apple', 'banana', 'cherry', 'orange']

In [84]:
#Extend List
#To append elements from another list to the current list, use the extend() method.

In [85]:
Li1 = ["apple", "banana", "cherry"]
Li2 = ["mango", "pineapple", "papaya"]
Li1.extend(Li2)
print(Li1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [86]:
#The remove() method removes the specified item

In [87]:
Li = ["apple", "banana", "cherry"]
Li.remove("banana")
print(Li)

['apple', 'cherry']

In [88]:
#Remove Specified Index
#The pop() method removes the specified index.

In [89]:
Li = ["apple", "banana", "cherry"]
Li.pop(1)
print(Li)

['apple', 'cherry']

In [90]:
#If you do not specify the index, the pop() method removes the last item

In [91]:
Li1 = ["apple", "banana", "cherry"]
Li1.pop()
print(Li1)

['apple', 'banana']

# Tuple

In [92]:
mytuple = ("apple", "banana", "cherry")

In [93]:
#Tuples are used to store multiple items in a single variable.
#Tuple items are ordered, unchangeable, and allow duplicate values.
#Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [98]:
Tup = ("apple", "banana", "cherry", "apple", "cherry")
print(Tup)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [99]:
#Create Tuple With One Item

In [100]:
#To create a tuple with only one item, you have to add a comma after the item, 
#otherwise Python will not recognize it as a tuple.

In [102]:
Tup = ("apple",)
type(Tup)

tuple

TypeError: can only concatenate list (not "int") to list